.center-div {
	position:fixed;
    top: 50%;
    left: 50%;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}

.loading-img {
	height: 20px;
}

.loading-span {
	font-size: 18px;
}

.configuration-div {
	margin-left: 10px;
}

input.ng-invalid
{
  border:1px solid #f00;
}

.text-right {
	text-align: right;	
}