<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <consolePlugin />
    <jmxConfigurator/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern><![CDATA[\(${HOSTNAME}\) %d %-5level [%X{tid}] [%X{uow}] [%X{requestId}] [%thread] %logger{55} - %msg %n]]></pattern>
        </encoder>
    </appender>
    
    <appender name="AIRBRAKE" class="airbrake.AirbrakeAppender">
     <param name="api_key" value="c565ae6163c7924243ac326dd3487a5b"/>
    <param name="env" value="test"/>
    <param name="enabled" value="true"/>
	</appender>

	<root>
    	<appender-ref ref="AIRBRAKE"/>
	</root>
    
    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>